.idea
.DS_Store

# .dist files
/.docker/php.ini
/docker-compose.yml
/phpunit.xml

/vendor/

.phpunit
.phpunit.result.cache

behat.yml

# docker volume contents
/.docker/volumes/neo4j/logs/*
!/.docker/volumes/neo4j/logs/.gitkeep