version: '2.0'

services:
  app:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile
    volumes:
      - ./:/var/www/neo
      - ./.docker/php.ini:/etc/php/7.4/apache2/conf.d/1000-custom-php.ini
      - ./.docker/vhost.conf:/etc/apache2/sites-enabled/neo.conf
    ports:
      - 80:80
    environment: []
    links:
      - neo4j

  neo4j:
    image: neo4j:3.5
    volumes:
      - neo4j_data:/data
      - ./.docker/volumes/neo4j/logs:/logs
    ports:
      - 7474:7474
      - 7473:7473
      - 7687:7687
    environment:
      - NEO4J_AUTH=neo4j/test

volumes:
  neo4j_data:
    external: true
